body{
    background-image: url('img/flag.svg');
    background-size: cover;
}
.container{
    background-color: rgba(255, 255, 255, 0.6);
}
#nev{
    text-align: center;
    margin: auto;
}
p{
    font-size: 20px;
}